
@{
    ViewBag.Title = "FormAgregarProducto";
}

<head>
    <link href="~/Styles/checkout.css" rel="stylesheet" />
    <link href="~/Styles/formsButtons.css" rel="stylesheet" />
</head>

<body>

    <main class="page payment-page header-top">
        <section class="payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Agregar Producto</h2>
                </div>

                <!-- Begin Form -->
                <form action="" method="post">
                    <div class="card-details">
                        <h3 class="title text-uppercase">Agregar Producto</h3>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label id="nomVal">Nombre Producto</label>
                                <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" value="" required>
                            </div>
                            <div class="form-group col-sm-12">
                                <label id="descVal">Descripción Producto</label>
                                <input id="desc" name="desc" type="text" class="form-control" placeholder="Descripcion" value="" required>
                            </div>
                            <div class="form-group col-sm-12">
                                <label id="urlVal">URL Imagen</label>
                                <input id="url" name="url" type="text" class="form-control" placeholder="URL" value="" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label id="precioVal">Precio Producto</label>
                                <input id="precio" name="precio" type="number" class="form-control" placeholder="Precio" value="" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label id="cantVal">Cantidad Producto</label>
                                <input id="cant" name="cantidad" type="number" class="form-control" placeholder="Cantidad" value="" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label id="proveedorVal">Proveedor</label>
                                @Html.Action("ListarProveedores")
                            </div>
                            <div class="form-group col-sm-6">
                                <label id="categoriaVal">Categoría</label>
                                @Html.Action("ListarCategoria")
                            </div>
                            <div class="container">

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <a href="@Url.Action("Index", "Productos")"><button id="cancelar" type="button" class="btn btn-block ">Cancelar</button></a>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <button id="btnInsert" type="button" onclick="InsertarProducto()" class="btn btn-block">Insertar Producto</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- Add sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Funciones/Producto.js"></script>

</body>
